<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div id='allpage'>
        <h1>Patient Dashboard</h1>
        <h2>Welcome <%= user.firstName %></h2>
        <div id="line"></div>
        <a href='/#'>Create An Emergency Alert to First Responders</a>
        <br>
        <a href='/#'>Run Motivational Video</a>
        <br>
        <a href='/#'>Enter Daily Information</a>
        <br>
        <a href='/#'>Checklist Of Common Signs And Symptoms</a>
        <br>
        <br>
        <a href='/logout'>Logout</a>
    </div>
 </body>
