<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sent</title>
    <link rel="stylesheet" href="css/thank.css" />
  </head>
  <body>
    <div id="allpage">
      <h1 id="thank">Tips Sent</h1>
      <div id="line"></div>
      <table>
        <tr>
          <td>Title:</td>
          <td><%= title %></td>
        </tr>

        <tr>
          <td>Content:</td>
          <td><%= content %></td>
        </tr>
      </table>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
