<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank</title>
    <link rel="stylesheet" href="css/thank.css">
</head>
<body>
    <div id='allpage'>
        <h1 id="thank">Thank You</h1>
        <div id="line"></div>
        <h2><%= email %></h2>
        <h3 style="margin-bottom: 0px;">Your comment: </h3>
        <h3 id=comment><%= comment %></h3>
        <h2>We very appreciate your feed back</h2>
        <a href='/logout'>Logout</a>
    </div>
    
</body>
</html>