<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tips</title>
    <link rel="stylesheet" href="css/thank.css" />
  </head>
  <body>
    <div id="allpage">
      <h1 id="thank">Tips</h1>
      <div id="line"></div>
      This is a tip for the patient
      <br /><br />
      <br /><br />
      <a href="/">Home Page</a>
    </div>
  </body>
</html>
